= render "header", :back_url=>"/oauths", :back_label=>"Accounts"

= render "header_title", :title=>"Closed"

= render "entry_menu", :current=>"Closed"


= render "entries", :type=>"normal", :schedule_hour=>0, :schedule_min=>0

= render "footer"
