= render "header", :back_url=>"/", :back_label=>"Accounts"

= render "header_title", :title=>"Create New Tweet"

= render "entry_menu", :current=>"Tweets"

== render 'form', :form_path=>"/oauths/#{@oauth.id}/entries"

= render "footer"