$white : #FFFFFF;
$yellow : #ffe92e;
$red : #FF0000;
$bg_color: #FFFFFF;
$facebook_color : #36549C;
$twitter_color : #00A3D9;

// Width
$width-pc: 940px;
$width-tablet: 768px;
$width-smartphone: 568px;
$width-scrollbar: 20px;
$width-menu: 180px;